@model Post

<div class="row">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">@Model.Title</h1>
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <a href="/posts/tag/@tag.Url" class="badge bg-@tag.Color bg-opacity-10 text-@tag.Color mb-2 fw-bold">@tag.Text</a>
                }
            </div>
            
            <img src="~/img/@Model.Image" class="img-fluid rounded" alt="">
            <div>
                @Model.Content
            </div>
        </div>
        <div class="bg-white mt-3">
            <div class="card border-0">
                    @if (Model.Comments.Count() == 0){
                        <h4>No comments</h4>
                    }
                    else{
                        <h4><span id ="commentCount">@Model.Comments.Count()</span> @((Model.Comments.Count() == 1) ? "Comment" : "Comments")</h4>
                    }
                </div>
                <div class="card-body">
                    <div id="comments">
                        @foreach (var comment in Model.Comments){
                            <div class="my-4 d-flex">
                                <img src="/img/@comment.User.Image" alt="" class="avatar rouded-circle float-start me-3">
                                <div>
                                    <div class="mb-2 d-flex">
                                        <h6 class="me-2">@comment.User.UserName</h6>
                                        <small>@comment.PublishedOn.ToString("dd-MM-yyyy")</small>
                                    </div>
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                        }
                    </div> 
                    
                    <hr class="mb-4">
                    @if(User.Identity!.IsAuthenticated){
                        <h4 class="mb-3">Add a comment</h4>
                        <form method="post" action="/posts/AddComment">
                            <input type="hidden" id="PostId" name="PostId" value="@Model.PostId">
                            <div class="mb-3">
                                <label for="Text" class="form-label">Comment</label>
                                <textarea type="text" class="form-control" id="Text" rows="3" name="Text"></textarea>
                            </div>
                            <div class="mb-3">
                                <button id="btnCommentRegister" type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    }
                    else{
                        <h4 class="mb-3"><a href="/users/login">Login</a> to comment</h4>
                    }
                    
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-4"> 
        <vc:tags-menu></vc:tags-menu>
        <vc:new-posts></vc:new-posts>
    </div>
</div>


@section scripts{
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#btnCommentRegister").click(function(){
                $.ajax({
                    type:  'POST',
                    url: '@Url.Action("AddComment")',
                    dataType: 'json',
                    data: {
                        PostId: $("#PostId").val(),
                        UserName: $("#UserName").val(),
                        Text: $("#Text").val(),
                    },
                    success: function(comment){
                        console.log(comment);
                        var date = new Date(comment.publishedOn);
                      
                        $("#comments").append(`
                            <div class="my-4 d-flex">
                                <img src="/img/${comment.avatar}" alt="" class="avatar rouded-circle float-start me-3">
                                <div>
                                    <div>
                                        <div class="mb-2 d-flex">
                                            <h6 class="mb-0">${comment.username}</h6>
                                            <span>${date.toLocaleDateString()}</span>
                                            <p class="mb-0">${comment.text}</p>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        `);
                        $("#UserName").val("");
                        $("#Text").val("");
                        var count = parseInt($("#commentCount").text());
                        $("#commentCount").text(count + 1);
                    }
                });
                return false;
            });
        });
    </script>
}


